{{ ansible_managed  | comment }}

Port {{ sshd_port }}
AddressFamily {{ sshd_address_family | default("inet") }}

# ListenAddresses:
{% for item in sshd_listen_addresses %}
ListenAddress {{ item }}
{% endfor %}
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{ sshd_syslog_facility | default("AUTH") }}
LogLevel {{ sshd_log_level | default("INFO") }}

# Authentication:
LoginGraceTime {{ sshd_login_grace_time | default("2m") }}
PermitRootLogin {{ sshd_permit_root_login | default("no") }}
StrictModes yes

{% if sshd_max_auth_tries %}
MaxAuthTries {{ sshd_max_auth_tries }}
{% else %}
#MaxAuthTries 6
{% endif %}
{% if sshd_max_sessions %}
MaxSessions {{ sshd_max_sessions }}
{% else %}
#MaxSessions 10
{% endif %}


PubkeyAuthentication {{ sshd_pubkey_authentication | default("yes") }}

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
#AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2
{% if sshd_authorized_keys_files %}
AuthorizedKeysFile {{ sshd_authorized_keys_files|join(" ") }}
{% endif %}

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
# IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ sshd_password_authentication | default(no) }}
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ sshd_challenge_response_authentication|default(no) }}

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

#AllowAgentForwarding yes
AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
TCPKeepAlive yes
#UseLogin no
#UsePrivilegeSeparation sandbox
#PermitUserEnvironment no
Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
UseDNS no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

{% if sshd_allow_users %}
AllowUsers {{ sshd_allow_users | join(" ") }}
{% else %}
# AllowUsers
{% endif %}
{% if sshd_allow_groups %}
AllowGroups {{ sshd_allow_groups | join(" ") }}
{% else %}
# AllowGroups 
{% endif %}
